language: cpp

os: osx

sudo: required

before_install:
    - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
    - chmod 755 ./travis-tool.sh
    - "./travis-tool.sh bootstrap"

install:
    - CXX=g++
    - CXXFLAGS="-mtune=native -03 -Wall -pedantic -Wconversion"
    - make cascade

script:
    - echo done.